{% extends 'base.html.twig' %}

{% block title %} - Dashboard{% endblock %}
{% block connexion_path %}{{ path('app_logout') }}{% endblock %}
{% block connexion %}Déconnexion{% endblock %}

{% block content %}
  <main class="main">
    <p>Bienvenue {{ app.user.name }} !</p>
  </main>
{% endblock %}
