{% extends 'base.html.twig' %}

{% block title %} - Accueil{% endblock %}

{% block content %}
  <img class="backgroundimg" src="/img/website/background.jpg" alt="background">
  <div class="content">
      <h1 class="content-title">Catégories</h1>
      <ul class="content-categories">
        {% for category in categories %}
          <li class="content-element">{{ category.name | capitalize }}</li>
        {% endfor %}
      </ul>
  </div>
{% endblock %}