.content {
  max-width: 1000px;
  margin-inline: auto;
  &-categories {
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw;
    grid-template-rows: 10vh;
    grid-gap: 5vw;
  }
  &-categorie {
    display: grid;
    place-items: center;
    width: 120px;
    border-radius: 4px;
    border: 2px solid black;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    will-change: background-color, color;
    &:hover {
      background-color: black;
      color: white;
    }
  }
}