.button {
  user-select: none;
  display: grid;
  place-items: center;
  width: 120px;
  border-radius: 4px;
  border: 2px solid black;
  padding: 10px;
  will-change: background-color;
  background-color: white;
  &-img {
    height: 3vh;
    will-change: filter;
  }
  &:hover {
    background-color: black;
    & > * {
      filter: invert(100%) hue-rotate(180deg);
    }
  }
}